{% extends "base.html" %}

{% block extrahead %}

    <link rel="stylesheet" href="https://moita2025.github.io/assets-custom/uiverse/quote.css">
    <script src="https://moita2025.github.io/assets-custom/uiverse/quote-init.js"></script>

    <!-- KaTeX -->
    <link rel="stylesheet" href="https://moita2025.github.io/assets-custom/vendor/katex@0.16.44/katex.min.css">
    <script defer src="https://moita2025.github.io/assets-custom/vendor/katex@0.16.44/katex.min.js"></script>
    <script defer src="https://moita2025.github.io/assets-custom/vendor/katex@0.16.44/contrib/auto-render.min.js"></script>
    <script defer src="https://moita2025.github.io/assets-custom/vendor/katex@0.16.44/contrib/copy-tex.min.js"></script>
    <script defer src="https://moita2025.github.io/assets-custom/custom/vendor-init/katex-init.js"></script>

{% endblock %}
